*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    background-color:#020617;

}
.box{
    margin-top: 5%;
    width: 50%;
    height: 80%;
    background-color:#FFF8E8;
    margin-inline: auto;
    text-align: center;
    box-shadow: 1px 1px 20px 2px white;
}
.box img{
    margin-inline: auto;
    width: 50%;
    height: 70%;
    color: white;
}
.box h1{
    padding: 10px;
    color:black;
    font-family: sans-serif;
}
.box button{
    display: block;
    padding: 10px 20px;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-inline: auto;
    background-color: blanchedalmond;
    border: solid;
}
@media (max-width:700px){
    .box{
        width: 90%;
        height:80vh;
    }
    .box img{
        width: 70%;
        height: 70%;
    }
    .box h1{
        font-size:1rem;
        padding:5px;
        
    }
}



